<ion-content [fullscreen]="true">
  <div id="container">
    <ion-text>
      <h1>MUSIC QUIZ <ion-icon name="musical-notes-outline"></ion-icon>
        <ion-icon name="musical-note-outline"></ion-icon>
        <ion-icon name="musical-notes-outline"></ion-icon>
      </h1>
    </ion-text>
    <ion-text>
      <h5>Question {{quizService.getIndexOfActiveQuestion()}}/
        {{quizService.getNumberOfQuestions()}}</h5>
    </ion-text>
    <ion-text color="dark">
      <h5>{{quizService.getQuestionOfActiveQuestion()}}</h5>
    </ion-text>
    <ion-list>
      <ion-radio-group>
        <ion-item *ngFor="let option of quizService.getOptionsOfActiveQuestion(); let i =index">
          <ion-label>{{option}}</ion-label>
          <ion-radio *ngIf=!quizService.isOptionSelected() (click)="checkOption(i)">
          </ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-button [disabled]="!quizService.isOptionSelected()" size="small" shape="outline" color="dark"
      (click)="continue()" tappable>
      Continue</ion-button>
    <ion-text *ngIf=quizService.isOptionSelected()>
      <h5>{{feedback}} Answers right: {{points}}/4</h5>
    </ion-text>
  </div>
</ion-content>