<ion-content [fullscreen]="true">
  <div id="container">
    <ion-text>
      <h1>MUSIC QUIZ <ion-icon name="musical-notes-outline"></ion-icon>
        <ion-icon name="musical-note-outline"></ion-icon>
        <ion-icon name="musical-notes-outline"></ion-icon>
      </h1>
    </ion-text>
    <ion-text>
      <h5>Correct answers: {{points}}/4</h5>
    </ion-text>
    <ion-text>
      <h5>Correctness: {{correctness}}%</h5>
    </ion-text>
    <ion-text>
      <h5>Time: {{durationSeconds}} seconds</h5>
    </ion-text>
    <ion-text>
      <h5>{{printResult()}}</h5>
    </ion-text>
    <ion-grid>
      <ion-row>
        <ion-col><img src="{{statusImage}}"></ion-col>
      </ion-row>
    </ion-grid>
    <ion-button shape="outline" color="dark" (click)="goAnswers()" tappable>Correct answers</ion-button>
  </div>
</ion-content>