<ion-content>
  <div id="container">
    <ion-text>
      <h1>MUSIC QUIZ <ion-icon name="musical-notes-outline"></ion-icon>
        <ion-icon name="musical-note-outline"></ion-icon>
        <ion-icon name="musical-notes-outline"></ion-icon>
      </h1>
    </ion-text>
    <ion-text>
      <h5>Here are the correct answers:</h5>
    </ion-text>
    <ion-text>
      <h6>"This band has hits like T.N.T, Thunderstuck, Who Made Who?"</h6>
      <h6 id="bold">- AC/DC</h6>
      <h6>"Front man for Queen"</h6>
      <h6 id="bold"> - Freddie Mercury</h6>
      <h6>"Who is said to be "the boss"?"</h6>
      <h6 id="bold"> - Bruce Springsteen</h6>
      <h6>"Which band members are known for their beards?"</h6>
      <h6 id="bold"> - ZZ Top</h6>
    </ion-text>
    <ion-text>
      <h6 id="bold">To end the quiz click on image below</h6>
    </ion-text>
    <img src="../../assets/imgs/rhythm.png" (click)="goHome()" tappable />
  </div>
</ion-content>