<ion-content [fullscreen]="true">
  <div id="container">
    <img src="../../assets/imgs/janis.png">
    <ion-text>
      <h1>Welcome to Music Quiz</h1>
    </ion-text>
    <ion-text>
      <h5>Test you'r rock music knowledge in this quiz</h5>
    </ion-text>
    <ion-button shape="outline" color="dark" (click)="start()" tappable>Start Quiz</ion-button>
  </div>
</ion-content>